@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
box-sizing: border-box;
margin:0;
padding:0;
font-family: 'Noto Sans JP', sans-serif;

}

.logo {
    max-width: 100px;
    cursor: pointer;
    

}

.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0px;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    margin-bottom: 35px;
    padding-right: 15vw;
    padding-left: 15vw;
    
}


.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    

    li {
       
        padding: 15px;
        
    }

    a{
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color:black;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        text-transform: uppercase;

    }

    a:hover {
        color: #008248;

    }

    
    
}



body {
    background-color: white;
    overflow-x:hidden;
}

.main-container {
    padding-top: 125px;
    margin-top: 8px;
    

    .topbox {
        background: url("images/better-stars.png") no-repeat; 
        background-position: 75% 50%;
        background-color: rgb(212, 233, 226);
        width: 100vw;
        height: 400px;


        .left-content {
            padding-top: 4rem;
            margin-left: 15vw;

        }

        h2, p {
            font-family: 'Noto Sans JP', sans-serif;
            padding: 10px;
            margin-left: 10px;
            padding-top: 10px;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 2.8rem;
            font-weight: 600;
            font-size: 2.2rem;

        }

        .aboveBtn {
            padding-bottom: 40px;

        }

        .belowBtn {
            padding-top: 40px;
            font-size: 1.2rem;
        }

        button {
            background-color: #008248;
            border-color: #008248;
            color: #fff;
            padding: 5px 30px;
            margin-left: 10px;
            text-align: center;
            font-size: 14px;
        }

        button:hover{
            background-color:  rgba(0,130,72,.9);
            border-color: rgba(0,130,72,.9);;
        }

        a {
            color: #008248;
        }
        
    }

    .second-box {
        width:100vw;
        height: 600px;
        background-color: white;

        .secondInnerBox {
            padding-top: 55px;
        }

        h2 {
            padding-bottom: 15px;
        }

        h4 {
            font-weight: 200;
        }

        .secondBoxHeading {
          text-align: center;  
        }

        .flexContainer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            padding-top: 48px;
            margin: 0 5vw;

        }

        .img {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;

        }        
        .imgSize {
            width: 50px;

        }

        h2 {    
            
            text-align: center;
        }

        .content {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        

           

        }
        
        .flex1, .flex2, .flex3 {
            margin: 0 .8rem;
            text-align: center;

        }

        a {
            color: #008248;
        }
        
    }
    
    .thirdBox {
        text-align: center;
        background-color: rgba(212,233,226,.33);
        height: 450px;
        
        h2 {
            padding-top: 15px;
            text-align: center;
            font-weight: 600;

        }

        .tabs {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            font-size: 1.8rem;
            width: 50vw;
            margin: 0 auto;
            padding-top: 25px;

        }

        .tab {
            cursor: pointer;

        }

        .tab:active {
            border-bottom: 4px solid lightgreen;
            border-color: lightgreen;
            display: visible;
        }

        .tab-content {
            background-color: #d4e9e2;
            width: 100vw;
            margin: 0 auto;


            .image {
                margin-right: 0;
                padding: 0;
            }

            img {
                max-width: 50%;
                margin-right: 0;
            }


            .contentImage {
                margin-left: 0;
                margin-right: 80px;

                 h2 {
                     font-size: 1.5rem;
                     padding-bottom: 10px;
                 }

                 h4 {
                     font-size: 1rem;
                     font-weight: normal;
                 }
            }
        }


        [data-tab-content] {
        display: none;

        }

        .active[data-tab-content] {
            display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;

        }

        .starColor {
            color:#cba258;
            font-size: 1rem;
        }


    }

    .fourthBox {
        width:100vw;
        height: 600px;
        background-color: white;

        .fourthInnerBox {
            padding-top: 55px;
        }

        h2 {
            padding-bottom: 15px;
        }

        h4 {
            font-weight: 200;
        }

        .fourthBoxHeading {
          text-align: center;  
        }

        .flexContainer {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            justify-content: center;
            padding-top: 48px;
            margin: 0 5vw;

        }

        .img {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;

        }        
        .imgSize2 {
            width: 125px;
            
        }

        h2 {    
            
            text-align: center;
            
        }

        h4 {
            width: 75vw;
            text-align: center;
            margin: 0 auto;

        }

        .content {
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 100px;
            width: 400px;
            margin-right: 40px;
           

        }

       .learnMore {
        padding-top: 20px;

       }

        .flex1, .flex2, .flex3 {
            margin: 0 .8rem;
            text-align: center;

        }

        a {
            color: #008248;
        }
        
    }

    .fifthBox {
        background-color: #f3f1e7;
        padding-bottom: 50px;

        h2 {
            padding-top: 5rem;

        }

        h4 {
            font-size: .8rem;
            text-align: center;
            padding-bottom: 5rem;

        }

        .grid1, .grid2, .grid3 {
            display: flex;
            justify-content: center;
            align-content: baseline;
            width: 100vw;
            height: 30vh;
            margin: 25px;
            padding-right: 50px;
            padding-left: 50px;
    

        }

        img {
            width: 80%;

        }
        .imgSolo {
            width: 20%;
            margin: 0;
            padding: 0;

        }

        .solo2 {
            width: 30% !important;
        }

        .imgBottom {
            width: 80%;

        }

        .grid {
            width: 75vw;
            margin: 0 auto;
            

        }

        .gridItem {
            width: 50vw;
            height: 20vh;
            margin: 0 auto;

        }

        .gridFlex{
            display: flex;
            flex-direction: row;

        }

        h3 {
            padding-bottom: 2rem;
           

        }

        .text {
            padding-left: 1.2rem;
            

        }

        .starSize {
            font-size: .8rem;

        }
        .item1{
            padding-bottom: 2rem;
        }

        .itemHeading {
            font-weight: bold;

        }

        hr {
            border-top: 2px solid rgba(0,0,0,.1);
            width: 80vw;
            border-left: none;
            margin: 0 auto;
            justify-content: center;
            border-top-width: 1px;
            padding: 20px;
        }
        
    }

}


button {
    min-width: 35px;
    min-height: 35px;
    background: none;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease;
    cursor: pointer;

}

button:hover {
    background-color: rgba(0,0,0,.06);
    border-color: rgba(0,0,0,.7);
}

#joinNow {
    background-color: #000;
    border-color: #000;
    color: white;

}

#joinNow:hover {
    background-color: rgba(0,0,0,.7);
    border-color: rgba(0,0,0,.7);
}



